---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";




---

<Section text="Case Study" >
  <div>
  
  
  </div>
  
</Section>
