---
import "../styles/global.css";
import Layout from "./Layout.astro";
import ImagePreviewer from "../components/ImagePreviewer.astro";

const { title, summary, company, date, tech } = Astro.props;
---

<Layout>
    <article
        class="case-study mx-auto max-w-4xl rounded-lg bg-white p-6 shadow-md"
    >
        <!-- Case Study Title -->
        <header>
            <h1>{title}</h1>
            {
                summary && (
                    <blockquote class="border-l-4 border-neutral pl-4 italic">
                        {summary}
                    </blockquote>
                )
            }
            {
                tech && tech.length > 0 && (
                    <p class="text-sm text-neutral">
                        Tech used: {tech.join(", ")}
                    </p>
                )
            }
            {date && <p class="text-sm text-neutral">Year: {date}</p>}
        </header>

        <hr class="my-6" />

        <section class="prose prose-lg">
            <slot />
        </section>

        <hr class="my-6" />

        <footer class="mt-6 text-sm text-gray-700">
            <p>Case study authored by Ian Middelkamp</p>
        </footer>
    </article>
</Layout>

<script type="module">
    import panzoom from "https://cdn.skypack.dev/@panzoom/panzoom";
    const elements = document.querySelectorAll(".zoomable-diagram > pre"); // Mermaid SVG container
    elements.forEach((element) => {
        if (element) panzoom(element, { maxScale: 3, minScale: 0.5 });
    });
</script>
