---
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import "../../styles/global.css";
const studies: CollectionEntry<"case-studies">[] =
    await getCollection("case-studies");
---

<Layout>
    <Section text="Case Studies">  
        {
            studies.map((study) => (
                <div class="mb-10">
                    <h3 class="mb-1.5 font-serif text-2xl font-semibold text-white">
                    {study.data.title}
                    </h3>
                    <div class="flex flex-col items-start pb-5">
                        <h4 class="mb-0.5 font-serif text-1xl font-medium text-neutral">
                            {study.data.company}
                        </h4>
                        <p class="relative mb-3 pl-8 text-base text-neutral">
                            {study.data.summary}
                        </p>
                        <a href={`/case-studies/${study.slug}`} class="text-primary hover:text-blue-500">Read More</a>
                    </div>
                </div>
            ))
        }
  
    </Section>
</Layout>
